.App {
  text-align: center;
  background-color: #f7f1e3;
  height: 100vh;
}

/* flat ui colors */
.greenColor {
  color: #218c74;
}
.whiteColor {
  color: white;
}
.greenBg {
  background-color: #218c74;
}

.MuiPaper-elevation0 {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #218c74 !important;
  color: white !important;
}